{{ define "main" }}
<h1>Welcome</h1>
<p>{{ .Site.Params.description }}</p>

<h2>Recent Posts</h2>
<ul>
{{ range first 10 (where .Site.RegularPages "Type" "in" (slice "posts" "micro")) }}
  <li>
    <time>{{ .Date.Format "2006-01-02" }}</time>
    <a href="{{ .Permalink }}">{{ if .Title }}{{ .Title }}{{ else }}{{ .Content | plainify | truncate 60 }}{{ end }}</a>
  </li>
{{ end }}
</ul>

<h2>Recent Galleries</h2>
<ul>
{{ range first 5 (where .Site.RegularPages "Type" "gallery") }}
  <li>
    <time>{{ .Date.Format "2006-01-02" }}</time>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
{{ end }}
</ul>
{{ end }}
